[Desktop Entry]
Version=1.0
Type=Application
Name=CBETA Translator
Comment=CBETA Translator Application
Exec=/mnt/Samsung980_1TB/Rust-projects/not-rust-projects/CBETA-Translator/run-cbeta-selfcontained.sh linux-x64
Icon=applications-other
Terminal=false
Categories=Office;Education;
StartupNotify=true
